@import url(https://cdn.brandfolder.io/6124JDFB/at/qbtqbm-3lmpjk-40dwwk/WunderBrick-Display.otf);
@import url(https://cdn.brandfolder.io/6124JDFB/at/qbtqbm-3lmpjk-ug2ox/WunderBrick-Text.otf);

body {
    padding: 20px;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
}

.title {
    width: 100vw;
    height: 50px;
    text-align: center;
    font-size: 50px;
    font-family: WunderBrickDisplay,Times New Roman,Times,serif;
    font-weight: 400;
    color: #25b89d;
    padding: 0 0 20px;    
}

.content {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px)
}

button {
    margin: 4px 2px;
    border: none;
    background-color: white;
    color: #191919;
    cursor: pointer;
}

.selected {
    background-color: #25b89d;    
}

.buttons-container {
    width: 30%;
    margin: 0 20px 0 0;
    z-index: 10;
}

.section {
    padding: 10px 0; 
    border-bottom: 1px solid #545252;
}

.section-header {
    color: #f5ebe1;
    font-family: WunderBrickText,Times New Roman,Times,serif;
    font-size: 18px;
    font-weight: 400;
}
.view-css {
    width: calc(70% - 60px);
    color: white;
}

.view-container {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #f5ebe1;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.css-container {
    height: 30%;
    width: 100%
}

.item {
    font-family: WunderBrickDisplay,Times New Roman,Times,serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #25b89d;    
    margin: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.explainer {
    color: black;
    opacity: .3;
    z-index: 1;
}

.top {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.left {
    position: absolute;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    text-align: center; 
    transform: rotate(-90deg);
}